body{
    background-color: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;  
}
div{
    flex-shrink: 0;
}

/*
* COLOUR DEFINITIONS
*/
:root {
    --kbfontsize: 92%;
    /* *   GENERAL COLOURS      */
    --background: #eff0f1;
    --text: #1F1F1F;
    
    /* *   CELL COLOURS         */
    --green:        #adff2f;
    --yellow:       #ffd700;
    --darkcell:     #808080;
    --cellborder:   #bfbfbf;

    /* *   KEYBOARD COLOURS     */
    --lit: #cacacb;
    --unlit: #3e556e;
}




/*
* GENERAL STYLING
*/
#container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
}
#gameContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /** ------------------------------ */
    width: 45vh;
    height: 90vh;
    margin-top: 10vh;
}