.wordContainer{
    display: flex;
    height: 43.75%;
    width: 94.6%;
    flex-direction: column;
    padding-bottom: 3%;
    gap: 1.5%;
}

.wordRow{
    width: 100%;
    /* flex-grow: 1; */
    height: 20%;
    display: flex;
    flex-direction: row;
    gap: 1%;
}

.letterCell{
    width: 17.79%;
    height: 96.16%;
    border: 2px solid var(--cellborder);
    color: var(--text);
    font-weight: 550;
    font-size: var(--kbfontsize);
    text-align: center;
}

.letterCellRight{
    background-color: var(--green);
}
.letterCellWrong{
    background-color: var(--darkcell);
}
.letterCellPresence{
    background-color: var(--yellow);
}


