.wordContainer{
    display: flex;
    height: 300px;
    width: 200px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.wordRow{
    display: flex;
    flex-direction: row;
}

.letterCell{
    width: 50px;
    height: 40px;
    border: 1px solid var(--cellborder);
}

.letterCellRight{
    background-color: var(--green);
}
.letterCellWrong{
    background-color: var(--darkcell);
}
.letterCellPresence{
    background-color: var(--yellow);
}


